<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>

    <body>
      <br>
      <h3>Créer un bot</h3>
      <input type="text" id="nomBot" placeholder="Steeve.."><button id="create">Créer</button>
      <br>
      <br>

      <div>

        <div style="display: inline-block">
          <h3 style="font: size 10;">Mes bots</h3>

          <table id="table">
            <tr>
              <th>Prenom</th>
              <th>Port</th>
              <th>Discord</th>
            </tr>

            <% if(locals.bots) { %>

              <%for (var i=0; i < bots.length; i++) {%>
                <tr id=<%=bots[i]._id %>>
                  <td id=<%=bots[i]._id %> name= <%=bots[i].name%>> <%=bots[i].name%>
                  </td>
                  <%if(bots[i].inListening){%>
                    <td><button class=<%=bots[i].name%> name ="demarrer <%=bots[i].inListening%>" id= <%=bots[i]._id %>
                            >Numéro:<%=bots[i].port%> <b>En écoute</b></button></td>
                    <%}else{%>
                      <td><button class=<%=bots[i].name%> name ="demarrer <%=bots[i].inListening%>" id= <%=bots[i]._id
                              %> >Numéro:<%=bots[i].port%> <b>Déconnecter</b></button></td>
                      <%}%>
                        <%if(bots[i].discord){%>
                          <td><button class=<%=bots[i].name%> name ="discord <%=bots[i].discord%>" id= <%=bots[i]._id %>
                                  >En ligne</button></td>
                          <%}else{%>
                            <td><button class=<%=bots[i].name%> name ="discord <%=bots[i].discord%>" id= <%=bots[i]._id
                                    %> >Hors ligne</button></td>
                            <%}%>
                              <td><button class=<%=bots[i].name%> name="supp" id= <%=bots[i]._id %> >Supprimer</button>
                              </td>
                              <td><button class=<%=bots[i].name%> name="modifier" id=<%=bots[i]._id%> onclick="popup(id)"> Modifier</button></td>
                </tr>
                <%}%>
                  <%}%>
          </table>
        </div>
        <%- include('../partials/brainchoice'); %>
      </div>


    </body>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>